@import "typography";
@import "../utils/variables";
@import "normalize";


body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#root {
    padding-bottom: 217px;
  }