@import "typography";
@import "../utils/variables";
@import "../utils/mixins";
@import "normalize";

html {
    height: 100%;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    position: relative; 
}

