.carrousel {
    position: relative;
    &__previousSlide{ 
        width: 60px;
        transform: rotate(-90deg);
        position: absolute;
        left: 5%;
        top: 43%;
    }

    &__nextSlide {
        width: 60px;
        transform: rotate(90deg);
        position: absolute;
        right: 5%;
        top: 43%;
    }

    &__content {
        display: flex;
        justify-content: center;
        &__image {
            width: 93%;
            height: 415px;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__point {
        color: #fff;
        position:absolute;
        right: 49%;
        bottom: 2%;
        font-size: 18px;
        
    }
}
