@import "../utils/mixins";

.carrousel {
    position: relative;
    width: 100%;
    &__previousSlide{ 
        width: 60px;
        transform: rotate(-90deg);
        position: absolute;
        left: 5%;
        top: 43%;
        cursor: pointer;
        @include mobile {
            width: 30px;
            top: 50%;
        }
    }

    &__nextSlide {
        width: 60px;
        transform: rotate(90deg);
        position: absolute;
        right: 5%;
        top: 43%;
        cursor: pointer;
        @include mobile {
            width: 30px;
            top: 50%;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        &__image {
            width: 93%;
            height: 350px;
            object-fit: cover;
            border-radius: 20px;
            @include mobile {
                height: 255px;
            }
        }
    }

    &__point {
        color: #fff;
        position:absolute;
        right: 49%;
        bottom: 2%;
        font-size: 18px;
        @include mobile {
            font-size: 14px;
        }
        
    }
}
