@import "../utils/variables";
.collapse{
    margin: 20px 0;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: #fff;
        border-radius: 5px;
        padding: 3px 10px;
        &__title {
            // margin-left: 10px;
        }
        &__arrow {
            cursor: pointer;
        }
    }
    &__description {
        background-color: #F6F6F6;
        color: $color-primary;
        padding: 18px 10px 10px;
        font-size: 17px;

    }
}

.rotate {
    transform: rotate(180deg);
}