@import "../utils/variables";
@import "../utils/mixins";

.collapse {
  width: 95%;
  margin: 25px auto;
  @include mobile {
      width: 100%;
      margin: 15px auto;
  }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: #fff;
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 18px;
        @include mobile {
          font-size: 14px;
        }
        &__arrow {
            cursor: pointer;
            transition: transform 300ms;
        }
    }
    &__description {
       @include inside-collapse;
       
    } 

    &__text {
        @include inside-collapse(10px 13px 10px);
        display: flex;
        align-items: center;
        @include tablettes {
          padding-top: 15px;
        }
        @include mobile {
              margin: 0;
              padding-top: 12px
        }
    }
    &__equipments {
      @include inside-collapse(10px 13px 10px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      @include tablettes {
        padding-top: 15px;
        justify-content: space-between;
      }
    }
}

.chevron {
  @include mobile {
    width: 23px;
    height: 23px;
  }
}

@keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(-20px);
      background-color: transparent;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.rotate {
    transform: rotate(-180deg);
}

