@import "../utils/variables";
@import "../utils/mixins";

.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__name {
        width: 40%;
        text-align: right;
        @include mobile {
            font-size: 12px;
        }
    }
    &__picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        margin-left: 5px;
        float: right;
        @include mobile {
            width: 32px;
            height: 32px;
        }
    }
}