@import "../utils/variables";

.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__name {
        width: 40%;
        text-align: right;
    }
    &__picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        margin-left: 5px;
        float: right;
    }
}