@import "../utils/variables";

.about-banner,.home-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 160px;
    background-repeat: no-repeat;

    &__text {
        color: #fff;
        text-align: center;
        font-weight: 500;
    }
}

.home-banner {
    background-image: $shadow-filter, url(../../assets/banner-home.jpg);

}

.about-banner {
    background-image:$shadow-filter, url(../../assets//banner-about.jpg);
}