@import "../base/base";
@import "../utils/variables";
@import "../utils/mixins";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    font-size: 18px;
    @include mobile {
        font-size: 14px;
        margin: 10px 15px;
    }
    &__logo {
        width: 120px ;
    }
    &__nav {
        
        &__link {
            color: $color-primary;
            text-decoration:  none;
            margin: 0 30px;
            font-family: 'Montserrat', sans-serif;
            @include mobile {
                margin: 0 10px;
            }
        }
    }

}

.active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}