@import "variables";

// Mixins qui utilisent les breakpoints pour s'adapter aux versions tablettes et mobiles du site et facilite son introduction dans le code.
@mixin tablettes { //tablettes breakpoint: 992px
    @media screen and (max-width:map-get($breakpoints, tablette)){
    @content;
    }
}
@mixin mobile { //mobile breakpoint: 768px
    @media (max-width:map-get($breakpoints,mobile)){
    @content;
    }
}

@mixin banner-image($height: 90px) {
    filter: brightness(73%);
    width: 100%;
    border-radius: 20px;
    height: 160px;
    object-fit: cover;
    @include mobile {
        height: $height;
    }
    
}

@mixin inside-collapse($padding: 18px 10px 18px) {
    background-color: #F6F6F6;
    color: $color-primary;
    padding: $padding;
    font-size: 17px;
    animation: 300ms ease-in-out fade;
    margin: 0;
    height: 85%;
    @include mobile {
        height: auto;
        font-size: 14px;
    }
}